{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<a href="/logout"><span id="logout_btn">logout</span></a>
<form method="POST">
    <div class="container">
        <div class="grid-item topleft">
            <p id="scr">Score</p>
            <p id="score">{{score}}</p>
        </div>
        <div class="grid-item level">Level: {{user_level}}</div>
        <div class="grid-item topright">
            <p>▼ inventory ▼</p>
        </div>
        <div class="grid-item healthbar"></div>
        <div class="grid-item main">
            <p><img id="room_img" src="static/rooms/room_0{{user_level}}.png"></p>
            {% if rtype == "computer" %}
                <img id="computer_img" src="static/computers/pc_{{user_level}}.png">
            {% endif %}
            
            <p id="room_msg"> {{msg}} </p></div>
        <div class="grid-item inventory">
            {% for item in inventory %}
                <p>{{item}}</p>
            {% endfor %}
        </div>

        <div class="grid-item bottomleft"></div>
        <div class="grid-item commandline">
            <input id="commandline" type="text" name="command" placeholder="Enter command here">
        </div>
        <div class="grid-item bottomright">
            <button id="submit" type="submit" class="btn">▶ Submit</button>
        </div>

    </div>

    <script>
        // Get a reference to the input field
        var inputField = document.getElementById("commandline");

        // Set the focus to the input field
        inputField.focus();
    </script>
</form>
{% endblock %}  

