{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<form method="POST">
    <div class="container">
        <div class="grid-item logo hide">1</div>
        <div class="grid-item level">Register</div>
        <div class="grid-item topright hide"></div>
        <div class="grid-item healthbar hide">4</div>
        <div class="grid-item main">
            <p><input id="name" type="text" name="name" placeholder="name" required></p>
            <p><input id="email" type="email" name="email" placeholder="email"required></p>
            <p><input id="username" type="text" name="username" placeholder="Username"required></p>
            <p><input id="password" type="password" name="password" placeholder="Password"required></p>

            <p><button id="submit" type="submit" class="btn">▶ Submit</button></p>
        </div>
        <div class="grid-item inventory hide"></div>
        <div class="grid-item bottomleft hide">7</div>
        <div class="grid-item commandline">
            <span class="msg">{{msg}}</span>
        </div>
        <div class="grid-item bottomright hide"></div>

    </div>
</form>
{% endblock %}  

